<h2> Tus datos</h2>
<div class="container-sm">
<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" style="height: 300px;">
<h3>Usuario: {{user.first_name}} {{user.last_name}}</h3>
    <p>Correo: {{user.email}}</p>
    <p>rol: {{user.rol}}</p>
    <p>carrito: {{user.cart}}</p>

    <button ><a href="/products">Atras</a></button>
</div>